<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laychv.module_open_projects">

    <application android:name="com.laychv.module_open_projects.dagger2Android.demo1.DemoApplication">
        <activity android:name="com.laychv.module_open_projects.okHttp.OkHttpActivity" />
        <activity android:name="com.laychv.module_open_projects.eventBus.EventBusActivity" />
        <activity android:name="com.laychv.module_open_projects.retrofit.RetrofitActivity" />
        <activity android:name="com.laychv.module_open_projects.glide.GlideActivity" />
        <activity android:name="com.laychv.module_open_projects.picasso.PicassoActivity" />
        <activity android:name="com.laychv.module_open_projects.rx.rxjava2.RxJava2Activity" />
        <activity android:name="com.laychv.module_open_projects.rx.rxbinding.ActivityRxBinding" />
        <activity android:name="com.laychv.module_open_projects.dagger2.Dagger2Activity" />
        <activity android:name="com.laychv.module_open_projects.dagger2Android.Dagger2AndroidActivity" />
        <activity android:name="com.laychv.module_open_projects.dagger2Android.demo1.DaggerAndroidActivity" />
    </application>
</manifest>
