<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.assess15.openProject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.assess15.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.assess15.openProjects.okHttp.OkHttpActivity" />
        <activity android:name="com.assess15.openProjects.eventBus.EventBusActivity" />
        <activity android:name="com.assess15.openProjects.retrofit.RetrofitActivity" />
        <activity android:name="com.assess15.openProjects.glide.GlideActivity" />
        <activity android:name="com.assess15.openProjects.picasso.PicassoActivity" />
        <activity android:name="com.assess15.openProjects.rx.rxjava2.RxJava2Activity" />
        <activity android:name="com.assess15.openProjects.dagger2.Dagger2Activity" />
        <!--CustomView-->
        <activity android:name="com.assess15.customView.barChart.BarChartActivity" />
        <activity android:name="com.assess15.customView.lineChart.LineChartActivity" />
        <activity android:name="com.assess15.customView.codeView.ActivityCodeView" />
        <activity android:name="com.assess15.customView.curveView.CurveViewActivity" />
        <activity android:name="com.assess15.customView.gradientProgressView.ActivityGradientProgressView" />
        <activity android:name="com.assess15.customView.vg.ActivitySizeViewGroup" />
        <activity android:name="com.assess15.openProjects.rx.rxbinding.ActivityRxBinding" />
        <activity android:name="com.assess15.customView.swipeCards.ActivitySwipeCards" />
        <activity android:name="com.assess15.customView.circlePageIndicator.ActivityCirclePageIndicator" />
        <activity android:name="com.assess15.book.chapter2.ViewAnimationXML" />
        <activity android:name="com.assess15.book.chapter2.ViewAnimationJAVA" />
        <activity android:name="com.assess15.kotlin.KotlinActivity" />
        <activity android:name="com.assess15.customView.focusView.ActivityFocusView" />
        <activity android:name="com.assess15.viewConflict.SlideConflictActivity" />

    </application>

</manifest>