<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.ju.sc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".okHttp.OkHttpActivity" />
        <activity android:name=".eventBus.EventBusActivity" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".glide.GlideActivity" />
        <activity android:name=".picasso.PicassoActivity" />
        <activity android:name=".rxjava2.RxJava2Activity" />
        <activity android:name=".dagger2.Dagger2Activity" />

    </application>

</manifest>